.knowUs-page .section_conocenos {
    display: flex;
    padding: 1rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 60rem;
    text-justify: inter-ideograph;
}

.knowUs-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


.knowUs-page .section_conocenos p {
    text-align: justify;
}