:root {
  /* colors */
  --first-color-blue: #219ed3;
  --second-color-blue: #2ea6b7;
  --third-color-white: #ffffff;
  --four-color-black: #000000;
}
.SignUp_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  height: 100vh;
}

.SignUp_page .SignUp_page-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.SignUp_page .SignUp_page-form .container-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SignUp_page .SignUp_page-container_google {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SignUp_page .container_signUpGoogle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: solid var(--four-color-black) 0.1rem;
  padding: 0.5rem 1rem;
}

.SignUp_page .SignUp_page-container_google a {
  text-decoration: none;
  color: var(--four-color-black);
}

.SignUp_page h1 {
  font-size: 5rem;
}

.SignUp_page .img_google {
  width: 2.25rem;
  height: 2.25rem;
}
