:root {
  /* colors */
  --first-color-blue: #219ed3;
  --second-color-blue: #2ea6b7;
  --third-color-white: #ffffff;
}

.btn-normal {
  display: flex;
  background-color: var(--second-color-blue);
  text-decoration: none;
  width: 10.875rem;
  height: 2.625rem;
  color: var(--third-color-white);
  border-radius: 0.4rem;
  align-items: center;
  justify-content: center;
  border: solid transparent 1px;
}
