:root {
  /* colors */
  --first-color-blue: #219ed3;
  --second-color-blue: #2ea6b7;
  --third-color-white: #ffffff;
  --four-color-black: #000000;
}

.navbar_top {
  background-color: var(--first-color-blue);
  height: 5.353125rem;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 5rem;
}

.navbar_top p {
  font-size: 1.5rem;
}
.navbar_bot {
  height: 5.353125rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 5rem;
  gap: 2rem;
  border: solid var(--four-color-black) 0.1rem;
}
.navbar_bot .container-nav{
  display: flex;
  gap: 2rem;
}


.navbar_bot .container-nav a{
  text-decoration: none;
  color: var(--four-color-black);
}
.navbar_bot .container-nav a:hover{
  color: var(--first-color-blue);
}

.navbar_bot .navbar_bot-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.navbar_bot .navbar_bot-logoDental {
  width: 7rem;
  height: 3.5rem;
}

@media screen and (max-width: 768px) {
  .navbar_bot {
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }
}
